kbd {
   padding:0.1em 0.6em !important;
   border:1px solid #ccc !important;
   font-size:11px !important;
   font-family:Monaco !important;
   background-color:#f7f7f7 !important;
   color:#333 !important;
   -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset !important;
   -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset !important;
   box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset !important;
   -moz-border-radius:3px !important;
   -webkit-border-radius:3px !important;
   border-radius:3px !important;
   display:inline-block !important;
   margin:0 0.1em !important;
   text-shadow:0 1px 0 #fff !important;
   line-height:1.4 !important;
   white-space:nowrap !important;
}
